PXE_PREPARE=(archlinux ubuntu debian rocky fedora memtest)
PXE_MENUS=(
    "-Distros" archlinux ubuntu debian rocky fedora
    "-Utilities" tool reboot)

PXE_LOCAL_ROOT=/srv/pxe
PXE_HTTP_ROOT=http://10.123.123.1/pxe
#PXE_NFS_HOST=10.123.123.1
#PXE_NFS_ROOT=/srv/pxe

PXE_TITLE="LCPU Network Boot Service (http://pxe.lcpu.dev/)"
PXE_INTRO="
== LCPU Network Boot Service ==

Website: http://pxe.lcpu.dev/

This is the LCPU Network Boot Service provided by:
- Linux Club of Peking University(https://lcpu.dev/)

If you get here by mistake, please reboot, check the BIOS/UEFI firmware
settings and disable network boot.

If you need help, please contact linuxclub@pku.edu.cn"